{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

</head>
<body>
    <div class="bg">
        <h1></h1>
      </div>

      <a href="/music" class="nft">
        <div class='main'>
          <img class='tokenImage' src={% static 'assets/video/music-logo.png' %} alt="NFT" />
          <h2>Music Player🎧</h2>
          <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
          <hr />  
        </div>
      </a>

      <a href="/video" class="nft">
        <div class='main'>
            <img class='tokenImage' src={% static 'assets/video/video-logo.jpg' %}  alt="NFT" />
            <h2>Video Player🎥</h2>
            <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
            <hr />
          </div>
      </a>
</body>
</html>
